#update_resp i.fa.fa-spinner.fa-spin {

	font-size: 25px;

}

div#getkeys {

	background: #f5f5f5;

	display: inline-block;

	width: 100%;

	padding: 10px;

}



.text-info {

    color: #31708f;

    display: block;

}

input#Bucketquota {

    width: 86%;

    display: inline-block;

}
input#Bucketquotaonly {

    width: 86%;

    display: inline-block;

}

.form-group select {

    display: inline-block;

    width: 28%;

    padding: 5px;

}

.form-group select#units {

    display: inline-block;

    width: 10%;

    padding: 5px;

}

.form-group select#unitsonly {

    display: inline-block;

    width: 10%;

    padding: 5px;

}

 